h2 {
	color:#5D5D5D;
	font-family: 'Arial', sans-serif;

}
h1 {
	color:#5D5D5D;
	
}
 hr {
	 color:#5D5D5D;
	 
 }
#hombre {
	resize:none;
}
#letras {
	resize:none;
}
textarea {
		margin: 5px;
  pointer-events: none;
  padding: 10px 20px;
  border: 3px solid #5D5D5D;
  border-radius: 5px;
  background-color: #EFEFEF;
  color: #5D5D5D;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
textarea:hover,
textarea:focus {
  background-color: #5D5D5D;
  color: #EFEFEF;
  outline: none;
}
#meow {
	margin: 5px;
	pointer-events: none;
	  padding: 10px 20px;
  border: 3px solid #5D5D5D;
  border-radius: 5px;
  background-color: #EFEFEF;
  color: #5D5D5D;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
input[type="button"] {
	
  padding: 10px 20px;
  border: 3px solid #5D5D5D;
  border-radius: 5px;
  background-color: #EFEFEF;
  color: #5D5D5D;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover {
  background-color: #5D5D5D !important;
  color: #EFEFEF !important;
}

body {
  background: linear-gradient(to bottom, #F1F1F1, #D1D1D1);
  height: 100%;
  margin: 0;
  background-size: cover;
}